# Pandas užduotys 2

In [287]:
import numpy as np
import pandas as pd

#  1 Sulipdykite iš 4 fragmentų vieną lentelę:

fragmentus rasite [čia](https://github.com/robotautas/kursas/tree/master/Pandas/tops)

* top_left = pd.read_csv('top1-25-1.csv')
* top_right = pd.read_csv('top1-25-2.csv')
* bottom_left = pd.read_csv('top26-50-1.csv')
* bottom_right = pd.read_csv('top26-50-2.csv')

pirmiausiai sujunkite apatinę dalį, tada viršutinę *(yra persidengiančių stulpelių!)*, galiausiai viršų su apačia. Naudokite **.concat()** ir **.merge()** metodus.

In [288]:
top_left = pd.read_csv('top1-25-1.csv')
top_right = pd.read_csv('top1-25-2.csv')
bottom_left = pd.read_csv('top26-50-1.csv')
bottom_right = pd.read_csv('top26-50-2.csv')

In [289]:
bottom_left_frame = pd.DataFrame(bottom_left)
bottom_right_frame = pd.DataFrame(bottom_right)
top_left_frame = pd.DataFrame(top_left)
top_right_frame = pd.DataFrame(top_right)

In [290]:
bottom = pd.concat([bottom_left, bottom_right], axis = 1)
top = pd.merge(top_left, top_right, on=['Track.Name','Popularity'])

In [291]:
data = pd.concat([top, bottom], sort=False)

In [292]:
data.head()

,Track.Name,Artist.Name,Genre,Popularity,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.
0,Senorita,Shawn Mendes,canadian pop,79.0,117,55,76,-6,8,75,191,4,3
1,China,Anuel AA,reggaeton flow,92.0,105,81,79,-4,8,61,302,8,9
2,boyfriend (with Social House),Ariana Grande,dance pop,85.0,190,80,40,-4,16,70,186,12,46
3,Beautiful People (feat. Khalid),Ed Sheeran,pop,NaN,93,65,64,-8,8,55,198,12,19
4,Goodbyes (Feat. Young Thug),Post Malone,dfw rap,94.0,150,65,58,-4,11,18,175,45,7

# 2 Sutvarkykite indeksą - padarykite, kad prasidėtų nuo 1.

In [293]:
data["Numeris"] = range(1,51)
data.set_index("Numeris", inplace=True)
data.head()

,Track.Name,Artist.Name,Genre,Popularity,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.
Numeris,,,,,,,,,,,,,
1,Senorita,Shawn Mendes,canadian pop,79.0,117,55,76,-6,8,75,191,4,3
2,China,Anuel AA,reggaeton flow,92.0,105,81,79,-4,8,61,302,8,9
3,boyfriend (with Social House),Ariana Grande,dance pop,85.0,190,80,40,-4,16,70,186,12,46
4,Beautiful People (feat. Khalid),Ed Sheeran,pop,NaN,93,65,64,-8,8,55,198,12,19
5,Goodbyes (Feat. Young Thug),Post Malone,dfw rap,94.0,150,65,58,-4,11,18,175,45,7

# 3 Sukurkite grupavimo pagal žanrą objektą

In [294]:
zanras = data.groupby('Genre')

In [295]:
zanras

# 4 kokie žanrai lentelėje pasitaiko daugiau negu 3 kartus?

In [296]:
daugiau_uz_tris = zanras.count()
daugiau_uz_tris[(daugiau_uz_tris['Track.Name'] > 3)]['Track.Name']

Genre
dance pop    8
latin        5
pop          6
Name: Track.Name, dtype: int64

# 5 Koks žanras pats populiariausias? Koks mažiausiai populiarus?
(pagal populiarumo vidurkį)

In [297]:
populiar = zanras['Popularity'].mean().idxmax()
populiar2= zanras['Popularity'].mean().max()
populiar_ne = zanras['Popularity'].mean().idxmin()
populiar_ne2 = zanras['Popularity'].mean().min()
print(populiar, populiar2)
print(populiar_ne, populiar_ne2)

electropop 95.0
canadian pop 74.5

# 6 Sukurkite lentelę, kurioje matytųsi, koks žanras turi aukščiausią vidurkį kiekviename indikatoriuje, bei pats vidurkis.
kad nereikėtų daug vargti su stulpelių pavadinimais, galima juos ištraukti su **.columns.tolist()**

In [298]:
duomenis_isgauti_nuo = data.columns.tolist()[3:]
max_duom_vid = zanras[duomenis_isgauti_nuo].mean().idxmax()
max_duom = zanras[duomenis_isgauti_nuo].mean().max()
resultatas = pd.DataFrame([duomenis_isgauti_nuo, max_duom_vid, max_duom],['Indikatorius', 'Žanras', 'Balai']).transpose()

In [299]:
resultatas

       Indikatorius          Žanras  Balai
0        Popularity      electropop   95.0
1  Beats.Per.Minute      trap music  180.0
2            Energy  reggaeton flow   80.0
3      Danceability  r&b en espanol   88.0
4    Loudness..dB..         brostep   -2.5
5          Liveness         brostep   37.5
6          Valence.        boy band   95.0
7           Length.  reggaeton flow  305.5
8    Acousticness..  australian pop   69.0
9      Speechiness.      electropop   34.0

# 7 Grįžkime prie sulipdytos lentelės. Ištraukite visas eilutes, kurios turi NaN reikšmių.
*filtravimo sąlygose naudokite **.isnull()** funkciją.*

In [300]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 1 to 50
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Track.Name        50 non-null     object
 1   Artist.Name       50 non-null     object
 2   Genre             48 non-null     object
 3   Popularity        47 non-null     float64
 4   Beats.Per.Minute  50 non-null     int64
 5   Energy            50 non-null     int64
 6   Danceability      50 non-null     int64
 7   Loudness..dB..    50 non-null     int64
 8   Liveness          50 non-null     int64
 9   Valence.          50 non-null     int64
 10  Length.           50 non-null     int64
 11  Acousticness..    50 non-null     int64
 12  Speechiness.      50 non-null     int64
dtypes: float64(1), int64(9), object(3)
memory usage: 5.5+ KB

In [301]:
data[data['Genre'].isnull() | data['Popularity'].isnull()]

,Track.Name,Artist.Name,Genre,Popularity,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.
Numeris,,,,,,,,,,,,,
4,Beautiful People (feat. Khalid),Ed Sheeran,pop,NaN,93,65,64,-8,8,55,198,12,19
19,Lalala,Y2K,NaN,88.0,130,39,84,-8,14,50,161,18,8
25,bad guy (with Justin Bieber),Billie Eilish,electropop,NaN,135,45,67,-11,12,68,195,25,30
48,Happier,Marshmello,brostep,NaN,100,79,69,-3,17,67,214,19,5
50,Cross Me (feat. Chance the Rapper & PnB Rock),Ed Sheeran,NaN,82.0,95,79,75,-6,7,61,206,21,12

# 8 Stulpelyje 'Genre' NaN reikšmes pakeiskite į 'pop'

In [310]:
data['Genre'] = data['Genre'].fillna('pop')

data = pd.DataFrame(data)
data["Genre"]

Numeris
1         canadian pop
2       reggaeton flow
3            dance pop
4                  pop
5              dfw rap
6                  pop
7           trap music
8                  pop
9          country rap
10          electropop
11           reggaeton
12           dance pop
13                 pop
14      panamanian pop
15    canadian hip hop
16           dance pop
17               latin
18             dfw rap
19                 pop
20         escape room
21           pop house
22         country rap
23      reggaeton flow
24               latin
25          electropop
26        canadian pop
27      australian pop
28    canadian hip hop
29               latin
30               latin
31                 edm
32           dance pop
33           reggaeton
34         atl hip hop
35           dance pop
36            big room
37      panamanian pop
38                 pop
39            boy band
40           dance pop
41                 edm
42           dance pop
43           dance pop
44                 pop
45      r&b en espanol
46             brostep
47               latin
48             brostep
49                 edm
50                 pop
Name: Genre, dtype: object

# 9 Stulpelyje 'Popularity' trūkstamas reikšmes pakeiskite į stulpelio vidurkį

In [313]:
vidurkis = data['Popularity'].mean()

In [316]:
data['Popularity'] = data['Popularity'].fillna(vidurkis)
data['Popularity'].head()

Numeris
1    79.000000
2    92.000000
3    85.000000
4    87.489362
5    94.000000
Name: Popularity, dtype: float64

Numeris
1     79.0
2     92.0
3     85.0
4      NaN
5     94.0
6     84.0
7     92.0
8     90.0
9     87.0
10    95.0
11    93.0
12    86.0
13    88.0
14    87.0
15    92.0
16    82.0
17    90.0
18    91.0
19    88.0
20    91.0
21    91.0
22    91.0
23    83.0
24    91.0
25     NaN
26    70.0
27    83.0
28    89.0
29    91.0
30    89.0
31    84.0
32    89.0
33    89.0
34    89.0
35    89.0
36    89.0
37    91.0
38    87.0
39    80.0
40    78.0
41    88.0
42    90.0
43    87.0
44    84.0
45    88.0
46    88.0
47    88.0
48     NaN
49    88.0
50    82.0
Name: Popularity, dtype: float64